<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
      body {
        background-color: skyblue;
        text-decoration-color: white;
        font-size: 7em;
      }
    </style>
  </head>

  <body>
    <center>This is our home page.</center>
  </body>
</html>
